.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
}

.footer > * {
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s;
  color: #263f52;
  text-decoration: none;
}

.footer > *:hover {
  color: #6c9476;
  cursor: pointer;
}

.footer > :first-child {
  margin-right: 15px;
}
