h3 {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  font-weight: 600;
  color: #26242e;
  letter-spacing: 0.6px;
}

.weather-carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
}

.nav-bar-displacer {
  height: 75px;
}

.search-holder {
  padding: 15px 10px 0px 10px;
}

.weather-city {
  margin: 30px 0 10px 0;
  text-align: center;
}
