.nav-bar-displacer {
  height: 75px;
}

.search-holder {
  background: #f7f7f7;
  padding: 15px 15px 0px 15px;
}

.carousel-holder {
}

.slider-item {
  /* height: calc(100vh - 80px - 106px); */
  height: 70vh;
  background: #f7f7f7;
}

/* navigation arrows */
.carousel-nav {
  position: absolute;
  top: 50%;
  border: none;
  background: none;
  padding: none;
  margin: 0 10px;
  font-size: 6em;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
