.weather-carousel {
  height: 100%;
  background: #f7f7f7;
}

.nav-bar-displacer {
  height: 75px;
}

.search-holder {
  padding: 15px 3.75vw 0px 3.75vw;
}

.carousel-holder {
}

.slider-item {
}

/* navigation dots */
.dot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -1.5vh;
}
.dot {
  margin: 2px;
  padding: 0px;
  border: none;
  width: 10vw;
  height: 0.7vh;
  background: #343e55;
  align-items: center;
}
